*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
body {
	padding: 0;
	margin: 0;
}
.col-md-1, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9,
.col-md-10, .col-md-11, .col-md-12,
.col-sm-1, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9,
.col-sm-10, .col-sm-11, .col-sm-12,
.col-xs-1, .col-xs-2, .col-xs-3,
.col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9,
.col-xs-10, .col-xs-11, .col-xs-12 {
	margin: 0;
	padding: 0;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
header, .wrapper, footer {
	outline: 1px solid red;z-index: -500;
}
header {
	height: 110px;
}
.wrapper {
	padding-bottom: 30px;
}
footer {
/*	height: 200px;
min-height: 200px;*/
}
.container {
	margin: 0 auto;
	/*width: 100%;*/
	height: 100%;
	width: 960px;
	padding: 0;
	outline: 1px solid red;z-index: -500;
}
.wrapper {
	min-height: 600px;
}
/*html.js .loader {
background: none repeat scroll 0 0 #ffffff;
bottom: 0;
height: 100%;
left: 0;
position: fixed;
right: 0;
top: 0;
width: 100%;
z-index: 9999;
}
html.js .loader_inner {
background-image: url("../img/preloader.gif");
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-color: #fff;
height: 60px;
width: 60px;
margin-top: -30px;
margin-left: -30px;
left: 50%;
top: 50%;
position: absolute;
}*/

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "Times New Roman", sans-serif;
	/*overflow-x: hidden;*/
	z-index: -500;
}
hr {
	margin: 0;
}
.hidden {
	display: none;
}

	/*ШАПКА НАЧАЛО*/ 

header ul {
	padding: 0;
	text-align: left;
	vertical-align: middle;
}
header li {
	display: inline-block;
	list-style: none;
	vertical-align: middle;
}
header .logo {
	height: 70px;
	background: url(../img/main-logo.png) no-repeat center top;
}
header .lang ul {
	text-align: right;
}
.menu {
	margin: 5px auto;
	padding: 0;
	width: 100%;
	height: 30px;
	text-align: center;
	background: #9CB0D6;
}
.menu li a {
	padding: 4px 15px;
	color: #000;
	height: 30px;
}
.menu li a:hover {
	background: #415882;
	color: #fff;
}

	/*ШАПКА КОНЕЦ*/ 

	/*СТРАНИЦА ГЛАВНАЯ НАЧАЛО*/ 
/*СЛАЙДЕР НАЧАЛО*/

.owl-carousel-main .item {
	height: 310px !important;
	width: 100% !important;
	outline: 1px solid red;
	background: #333;
	z-index: 100;
}
.owl-carousel-main .item p {
	color: #000;
}
.owl-carousel-main .owl-controls {
	position: absolute;
	top: 45%;
	width: 100%;
}
.owl-carousel-main .owl-controls .owl-nav>div {
	text-indent: -10000px;
	width: 35px;
	height: 35px;
	background-image: url(../img/arrows.png);
	cursor: pointer;
	left: 20px;
	position: absolute;
}
.owl-carousel-main  .owl-controls .owl-nav .owl-next {
	right: 20px;
	left: auto;
	background-position: 34px 0;
}
/*СЛАЙДЕР КОНЕЦ*/

/*О НАС НАЧАЛО*/
.aboutus h3 {
	text-align: center;
	text-decoration: underline;
	color: #415882;
}
/*О НАС КОНЕЦ*/

/*ПОЧЕМУ МЫ НАЧАЛО*/
.whyus h3 {
	text-align: center;
	text-decoration: underline;
	color: #415882;
}
.whyus ul {
	padding: 0;
	margin: 0;
	text-align: center;
}
.whyus li {
	display: inline-block;
	list-style: none;
	padding: 15px 25px;
	vertical-align: middle;
}
.whyus a {
	display: block;
	margin: 0 auto;
	padding: 5px 20px;
	width: 200px;
	text-align: center;
	color: #fff;
	background-color: #415882;
}
/*ПОЧЕМУ МЫ КОНЕЦ*/

/*НАША КОМАНДА НАЧАЛО*/
.ourteam h3 {
	text-align: center;
	text-decoration: underline;
	color: #415882;
}
.ourteam .slider {
	display: block;
}
.ourteam .slider .item {
	width: 100%;
}
.ourteam .owl-controls {
	position: absolute;
	top: 80px;
	width: 100%;
}
.ourteam .owl-controls .owl-nav>div {
	text-indent: -10000px;
	width: 35px;
	height: 35px;
	background-image: url(../img/arrows.png);
	cursor: pointer;
	left: 20px;
	position: absolute;
}
.ourteam .owl-controls .owl-nav .owl-next {
	right: 20px;
	left: auto;
	background-position: 34px 0;
}
.ourteam .slider img {
	display: block;
	margin: 0 auto;
	width: 188px;
	height: auto;
}
.ourteam .slider p {
	text-align: center;
}
.ourteam .button {
	display: block;
	margin: 0 auto;
	padding: 5px 20px;
	width: 250px;
	text-align: center;
	color: #fff;
	background-color: #415882;
}

/*НАША КОМАНДА КОНЕЦ*/

/*УСЛУГИ НАЧАЛО*/
.uslugi h3 {
	text-align: center;
	text-decoration: underline;
	color: #415882;
}
.uslugi ul {
	padding: 0;
	margin: 0;
	text-align: center;
}
.uslugi li {
	display: inline-block;
	list-style: none;
	padding: 15px 25px;
	vertical-align: middle;
}
.uslugi .button {
	display: block;
	margin: 0 auto;
	padding: 5px 20px;
	width: 200px;
	text-align: center;
	color: #fff;
	background-color: #415882;
}
/*УСЛУГИ КОНЕЦ*/

/*КОНТАКТЫ НАЧАЛО*/
.contacts h3 {
	text-align: center;
	color: #415882;
	text-decoration: underline;
}
.contacts iframe {
	height: 160px;
}
/*КОНТАКТЫ КОНЕЦ*/

	/* СТРАНИЦА ГЛАВНАЯ КОНЕЦ*/ 

	/*СТРАНИЦА УСЛУГИ НАЧАЛО*/ 
.sidebar {
	max-width: 220px;
}
.content {
	width: 100%;
	max-width: 740px;

}

#info-nav {
	padding: 0;
	margin: 0;
	margin-top: 30px;
	list-style: none;
}
#info-nav li {
	margin: 0 5px;
	max-width: 240px;
	padding: 5px 10px;
	list-style: none;
	display: inline-block;
	text-align: center;	
	background: #415882;
	cursor: pointer;
}
#info-nav li:first-child {
	margin-left: 0;
}
#info-nav li:last-child {
	margin-right: 0;
}
#info-nav li a {
	color: #fff;
	text-decoration: none;
	width: 100%;
	height: 100%;
	margin: 0 5px; 
	max-width: 240px; 
	padding: 5px 10px;
}
/*ПЕРЕЧЕНЬ УСЛУГ НАЧАЛО*/
#tab-content {
	min-height: 250px;
	padding: 45px 0 15px;
}
#tab-content li {
	list-style: none;
}
#tab-content ul {
	display: block;
	padding: 0;
	margin: 0 auto;
}
#tab-content li {
	position: relative;
	padding: 10px 0;
}
#tab-content p {
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	background: none;
}
.button-hidden {
	opacity: 0;
	position: absolute;
	text-align: center;
	margin-left: -10px;
	margin-right: -30px;
	top: -10px;
	width: 100%;
	border: thin solid #415882;
	/*border-top: none;*/
	height: 41px;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-transform: scale(0) rotate(900deg);
	-ms-transform: scale(0) rotate(900deg);
	-o-transform: scale(0) rotate(900deg);
	transform: scale(0) rotate(900deg);
	z-index: 100;
}
.button-hidden a {
	display: block;
	position: relative;
	padding: 5px;
	margin: 30px auto -20px;
	width: 100%;
	max-width: 240px;
	background: #415882;
	color: #fff;
	text-align: center;
	z-index: 100;
}
#tab-content li:hover .button-hidden {
	opacity: 1;
	top: 20px;
	-webkit-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
}
#tab-content li:hover p {
	z-index: 200;
	background: #fff;
}

/*ПЕРЕЧЕНЬ УСЛУГ КОНЕЦ*/

	/*СТРАНИЦА УСЛУГИ КОНЕЦ*/ 

	/*СТРАНИЦА КОНТАКТЫ НАЧАЛО*/ 
/*КОНТАКТЫ НАЧАЛО*/
.kontakty .contacts h3 {
	text-align: left;
	color: #000;
}
.kontakty .contacts .feedback-form h3 {
	text-align: center;
}
/*КОНТАКТЫ КОНЕЦ*/

/*ФОРМА ОБРАТНОЙ СВЯЗИ НАЧАЛО*/
.feedback-form {
	display: block;
	float: none;
	margin: 0 auto;
}
.feedback-form input, .feedback-form textarea {
	width: 100%;
	margin: 5px 0;
}

/*ФОРМА ОБРАТНОЙ СВЯЗИ КОНЕЦ*/
	/*СТРАНИЦА КОНТАКТЫ КОНЕЦ*/ 

	/*СТРАНИЦА АКЦИИ НАЧАЛО*/
.akcii-main {

}
.akcii-main img {
	/*width: 100%;*/
}
.akcii-main .banner {
	margin-right: -20px;
}
.akcii-main .usloviya h4 {
	margin: 0;
	font-size: 1.2em;
}
.akcii-main .usloviya p {
	margin: 0;
}
.end-date {
	font-size: 3em;
}
.akciya-main .button {
	display: block;
	padding: 5px 10px;
	background: #415882;
	color: #fff;
	text-align: center;
	text-decoration: none;
	width: 240px;
	float: left;
} 
.akciya-main .share {
	display: inline;
}
.akciya-main ul {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.akciya-main li {
	display: inline;
}

.showmore {
	display: block;
	margin: 30px auto;
	max-width: 300px;
	padding: 5px 10px;
	background: #415882;
	color: #fff;
	text-align: center;
	text-decoration: none;
	
}
	/*СТРАНИЦА АКЦИИ КОНЕЦ*/

	/*СТРАНИЦА ВАКАНСИИ НАЧАЛО*/

.vakancy-item h3 {
	margin: 0;
	font-size: 25px;
}
.vakancy-item h4 {
	margin: 0;
	font-size: 20px;
}
.vakancy-item p {
	margin: 0;
	padding-right: 20px;
	font-size: 16px;
	line-height: 18px;
}
.vakancy-item .button {
	display: block;
	padding: 5px;
	margin: 30px auto;
	width: 100%;
	float: none;
	max-width: 240px;
	background: #415882;
	color: #fff;
	text-align: center;
}
.uslov p {
	margin: 14px;
	font-size: 20px;
	line-height: 22px;
}
	/*СТРАНИЦА ВАКАНСИИ КОНЕЦ*/

	/*СТРАНИЦА РАБОТЫ МАСТЕРОВ НАЧАЛО*/
.raboty img {
	display: block;
	margin: 0 auto;
}
.big .descr {
	display: block;
	margin: 0 auto 15px;
	padding: 15px;
	max-width: 360px;
	background: #4a5980;
	height: 100px;
}
.descr p {
	margin: 0;
	color: #fff;
}
.small .descr {
	display: block;
	margin: 0 auto 15px;
	padding: 15px;
	max-width: 241px;
	background: #4a5980;
	height: 100px;
}
	/*СТРАНИЦА РАБОТЫ МАСТЕРОВ КОНЕЦ*/

	/*СТРАНИЦА ОТЗЫВЫ НАЧАЛО*/
.feedback {
	m
}
.feedback .avatar {
	width: 140px;
	float: left;
	margin-right: 20px;
}
.feed-name {
	font-weight: bold;
	margin-right: 30px;
}
.feed-date {
	font-weight: bold;
}
.feedback a {
	float: right;
	font-weight: bold;
	color: #000;
}
.feed-child {
	margin-left: 22%;
}

	/*СТРАНИЦА ОТЗЫВЫ КОНЕЦ*/


	/*ПОДВАЛ НАЧАЛО*/ 
footer {
	/*background: #9CB0D6;*/
}

footer .container {
	background: #9CB0D6;
}

footer .menu {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	background: none;
}

footer li {
	display: inline-block;
	list-style: none;
}

footer .menu li a:hover {
	background: none;
	color: #fff;
}

.copyright {
	text-align: center;
}
	/*ПОДВАЛ КОНЕЦ*/